/* =========================
   SF Pro
========================= */

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro_1.woff2") format("woff2"),
       url("./fonts/SF-Pro_1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Canela
========================= */

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Thin-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-ThinItalic-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-RegularItalic-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("./fonts/Canela-BlackItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* =========================
   SF Mono
========================= */

@font-face {
  font-family: "SF Mono";
  src: url("./fonts/SF-Mono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
